<a href="javascript:window.print()" class="float-right btn btn-sm btn-secondary">Print</a>
<span class="post-top">Posted <%= time_ago_in_words @post.created_at %> ago</span>

<h1 class="mt-4 mb-4"><%= @post.title %></h1>
<%= simple_format @post.content %>
<%= link_to "Reply", "#", class: "btn btn-primary" %>
<p class="post-details mt-4">
  <span class="post-id">Post id: <%= @post.id.to_s %></span>
  <span class="post-at">Posted <%= time_ago_in_words @post.created_at %> ago</span>
</p>