<p>
  <%= link_to "Home", root_path %> >>

  <% if @post.present? 
    category = @post.category 
  %>

    <%= link_to category.name, category_path(category) %> >>
    <%= @post.title %>
  <% elsif @category.present? 
    parent = @category.parent
  %>  
    <% if parent.present? %>
      <%= link_to parent.name, category_path(parent) %>
    <% end %>

    <%= @category.name %>
  <% end %>
</p>