<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3">
      <% if account_signed_in? %>
      <%= link_to "Sign out", destroy_account_session_path,method: :delete, class: 'float-right ml-3 text-dark' %>
      <% else %>  
      <%= link_to "Register", new_account_registration_path, class: 'float-right ml-3 text-dark' %>
      <%= link_to "Sign in", account_session_path, class: 'float-right ml-3 text-dark' %>
      <% end %>

      <%= link_to "Home", root_path, class: 'text-dark' %> >>

      <% if @post.present? && !@post.new_record?
        category = @post.category 
        parent = category.parent
      %>
      <% if parent.present? %>
        <%= link_to parent.name, category_path(parent), class: 'text-dark' %> >>
      <% end %>
        <%= link_to category.name, category_path(category), class: 'text-dark' %> >>
        <%= @post.title %>
      <% elsif @category.present? 
        parent = @category.parent
      %>
        <% if parent.present? %>
          <%= link_to parent.name, category_path(parent), class: 'text-dark' %> >>
        <% end %>

        <%= @category.name %>
      <% end %>
    </div>
  </div>
</div>