<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <%= render 'layouts/breadcrumb_nav' %>
    </div>
    <div class="container">
    <p class="text-center notice"><%= notice %></p>
      <div class="row">
        <div class="col-3">
          <p><strong><%= link_to "Craig's List clone", root_path, class: 'text-dark' %></strong></p>

          <%= link_to 'New post', new_post_path, class: 'btn btn-success' unless is_auth? %><br />
          <%= render 'categories/category_sidebar' if controller.controller_name == 'categories' %>

          <% if is_home? || is_auth? %>
          <div class="nav-pages pt-4">
            <p><%= link_to 'help, faqs, abuse, legal', faqs_path %></p>
            <p><%= link_to 'avoid scams and fraud', scams_path %></p>
            <p><%= link_to 'personal safety tips', safety_path %></p>
            <p><%= link_to 'terms of use', terms_path %></p>
          </div>
          <% end %>
        </div>
        <div class="col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
